<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <title>MINI Canada</title>
  </head>
  <body>
    <h1 class="hidden">Welcome to MINI</h1>
    <a class="hidden" href="#content">Skip to content</a>
    <header class="main-header navbar">
      <h2 class="hidden">MINI logo</h2>
      <div>
        <a href="index.html"><img src="./images/logo.svg" width="92" height="41" id="logo" alt="MINI COOPER logo"></a>
      </div>

      <div class="mainNav">
        <h2 class="hidden">Main Navigation</h2>
        <ul>
           <li><a href="#model">MODELS</a></li>
           <li><a href="#discover">DISCOVER</a></li>
           <li><a href="#contact">CONTACT</a></li>
           <li><a href="https://mini.ca/en/shopping/inventory">BOOK A TEST DRIVE</a></li>
           <li><a href="https://mini.ca/en/shopping/buildandprice">SHOP</a></li>
        </ul>
     </div>
    </header>

    <main id="app" class="main">
      <section>
        <h2 class="hidden">Hero video</h2>
        <div>
          <video id="video" src="./assets/new-MINI-2024.mp4" controls></video>
        </div>
        
      </section>

      <section>
        <h2 class="hidden">Models</h2>
        <div class="models-row">
          <ul>
            <thecarthumb @loadlbdata="loadLightBox" v-for="car in carData" :car="car"></thecarthumb>
          </ul>
        </div>
      </section>

      
        <!----database shows here, pics/text/specs/more pics-->
        
        <thelightbox v-for="car in carData" :car="car"></thelightbox>
        <!-- <h2 class="hidden">lb-contents</h2>
        <img @click="closeLB" src="images/closeIcon.png" class="lightbox_close">
        
        <div>
          <img :src='"images/" + header-pic' alt="lb-header img">

            <h3>{{name}}</h3>
            <article>{{type}}<span>{{price}}</span></article>

              <p class="lb_text">{{desc}}</p>
              <p class="lb_text">{{specs}}</p>
          <img :src='"images/" + more-pics' alt="lb-pics img">
        </div> -->
       <!-- end lightbox -->
        
      
      <section class="contact-form">
        <h2>STAY IN THE KNOW.</h2>
        <div>
          <article>Stay informed about news, special offers, products and services from or on behalf of MINI Canada.</article>
        </div>
        <div>
          <form @keyup.enter="sendForm" action="">
            <input v-model="fname" type="text" placeholder="First Name">
            <input v-model="lname" type="text" placeholder="Last Name">
            <input v-model="email" type="email" placeholder="Email Address">
            <input @click.prevent="sendForm" type="submit" value="SUBMIT">
          </form>
        </div>
       
      </section>

    </main>

    <footer class="foot">
      <h2 class="hidden">footer-nav</h2>
      <div>
        <a href="#index"><img src="./images/logo-footer.svg" alt="MINI COOPER logo" width="63" height="28"></a>
      </div>
      <div>
        © 2022 MINI Canada.
      </div>

    </footer>
    <!-- load the third party library first -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- and then your own -->
    <script src="js/main.js" type="module" defer></script>
  </body>
</html>
