header {
    color: white;
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%; 
    transition: top 0.3s;
    z-index: 100;
}

#logo {
  top: -10px;
  position: relative;
}

.navbar a {
    float: left;
    color: white;
    margin: 0;
    text-decoration: none;
    padding: 30px;
    height: 80px;
  }


.mainNav a:hover {
    background-color: white;
    color: black;
    font-weight: 600;
  }

  // .line {
  //   padding: 5px;
  //   width: 100%;
  //   background-color: black;

  //   position: absolute;
  //   bottom: -1px;
  // }

  .mainNav ul {
    list-style: none;
  }