body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  opacity: 95%;
}

.site {
  max-width: none;
}

.hidden {
  display: none;
}

.one-item {
  display: grid;
  grid-column: 2 / span 2;
  grid-template-columns: 1fr;
}

.two-items {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  row-gap: 2em;
  column-gap: 2em;
}

.three-items {
  display: grid;
  grid-column: 2 / span 2;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  row-gap: 2em;
  column-gap: 2em;
}

main {
  margin: 0 auto;
  background-color: white;
  

  h1 {
    color: rgb(59, 58, 57);
    font-size: 48px;
    text-align: center;
    padding: 40px 40px;
    font-style: italic;
    margin: auto;
  }

  h2 {
    font-size: 22px;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 22px;
    color: cadetblue;
    text-align: center;
    font-style: oblique;
  }

  h5 {
    text-align: center;
  }

}

#video {
  padding-top: 30px;
}

.models-row ul li {
  display: inline-block;
  // flex-direction: row;
  // padding: 30px;
}





